![](https://img.kaikeba.com/web/kkb_index/img_index_logo.png)

# 人工智能基础课机器学习 第二节课作业 股票数据清洗

同学们好，本次作业的主要内容为使用pandas进行数据预处理。希望这两天你们已经从Python的课程内容中回过神来了。
没有数据的分析是无源之水，能够熟练处理数据是成为合格的数据分析师的基本要求，希望大家在今后多多实战，成为数据大师。

本次作业将使用公开标普500的股票数据。
https://www.kaggle.com/dgawlik/nyse#prices-split-adjusted.csv

作业的形式以问答为主，因为不涉及过长的代码，核心是数据的操作，所以这里没有太多的代码模板可供大家参考。
希望大家能从搜索引擎（google/bing）问答社区（stackoverflow）或者[官方文档](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)或者我提供的jupyter notebooks 中找到回答问题需要的方法。
请时刻牢记数据的增删改查四种原子操作，思考我们的问题可以被如何分解。

那么首先，我们要import pandas

In [2]:
import pandas as pd

# 1. 从fundemantals.csv开始！

fundemantals.csv 是这些股票的年报数据

请用数据回答以下问题：

1. S&P500股票在2015年`net income`的均值是多少？最大值比最小值多多少？（每问10分，共计20分）
2. S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是多少？固定资产占总资产比例最小的股票是的代码（ticker symbol）是什么？（每问10分，共计20分）

In [227]:
#1.S&P500股票在2015年net income的均值是多少？最大值比最小值多多少？
fundamentals_df= pd.read_csv('./nyse/fundamentals.csv')
#print(fundamentals_df.shape)
fundamentals_df['Period Ending'] = pd.to_datetime(fundamentals_df['Period Ending'])
fundamentals_df = fundamentals_df.set_index('Period Ending')
#print(fundamentals_df.index)
#print(type(fundamentals_df.index))
#fundamentals_df['2015']['Net Income'].head()
net_income_2015 = pd.DataFrame(fundamentals_df['2015']['Net Income'])
#net_income_2015
#print(net_income_2015.shape)
#net_income.head()
func_range = lambda x: x.max() - x.min()
func_net_income_2015 = lambda x: pd.Series([x.min(), x.max(),func_range(x),x.mean()], index=['min', 'max', 'range','mean'])
net_income_2015_df=net_income_2015.apply(func_net_income_2015)
print('S&P500股票在2015年net income的均值:',net_income_2015_df.loc['mean','Net Income'])
print('最大值比最小值:',net_income_2015_df.loc['range','Net Income'])
net_income_2015_df

S&P500股票在2015年net income的均值: 1560252997.752809
最大值比最小值: 76922000000.0

         Net Income
min   -2.352800e+10
max    5.339400e+10
range  7.692200e+10
mean   1.560253e+09

In [228]:
#2.S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是多少？固定资产占总资产比例最小的股票是的代码（ticker symbol）是什么？
assets_2016 = pd.DataFrame(fundamentals_df['2016'][['Ticker Symbol','Fixed Assets','Total Assets']])
assets_2016['fixed_total_ratio'] = assets_2016.apply(lambda x: x[1]/x[2], axis=1)
print('在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值:',assets_2016['fixed_total_ratio'].mean())
print('固定资产占总资产比例最小的股票是的代码:',assets_2016['Ticker Symbol'][assets_2016['fixed_total_ratio']==assets_2016['fixed_total_ratio'].min()].values[0])
assets_2016

在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值: 0.24428208876549706
固定资产占总资产比例最小的股票是的代码: LEN

              Ticker Symbol  Fixed Assets  Total Assets  fixed_total_ratio
Period Ending
2016-01-02              AAP  1.434577e+09  8.134565e+09           0.176356
2016-09-24             AAPL  2.701000e+10  3.216860e+11           0.083964
2016-09-30              ABC  1.530682e+09  3.365620e+10           0.045480
2016-12-02             ADBE  8.162640e+08  1.270711e+10           0.064237
2016-10-29              ADI  6.361160e+08  7.970278e+09           0.079811
...                     ...           ...           ...                ...
2016-12-31               WM  1.095000e+10  2.085900e+10           0.524953
2016-01-31              WMT  1.165160e+11  1.995810e+11           0.583803
2016-09-30              WRK  9.294300e+09  2.303820e+10           0.403430
2016-04-02             XLNX  2.833460e+08  4.823154e+09           0.058747
2016-12-31              ZTS  1.381000e+09  7.649000e+09           0.180546

[220 rows x 4 columns]

# 2. 加入securities.csv~

securities.csv包含了这些股票的基本信息

1. 请列举出各个sector中的加入时间最早的股票名称（10分）
2. 请列举出每一个州中加入时间最晚的股票名称（10分）

In [225]:
securities_df= pd.read_csv('./nyse/securities.csv')
#securities_df.head()
securities_df=securities_df.dropna()
#securities_df.head()
securities_df['Date first added'] = pd.to_datetime(securities_df['Date first added'])

securities_df_earlist_sector=securities_df.groupby(securities_df['GICS Sector']).apply(lambda x: x[x['Date first added']==x['Date first added'].min()])
securities_df_earlist_sector.sort_values(by=['Date first added'], ascending=True, inplace=True)
#print(securities_df_earlist_sector.loc[:,['GICS Sector','Ticker symbol']])
print('{0}各个sector中的加入时间最早的股票名称{0}\n'.format('*'*30))
securities_df_earlist_sector[['Ticker symbol','Date first added']]

******************************各个sector中的加入时间最早的股票名称******************************

                                Ticker symbol Date first added
GICS Sector
Health Care                 1             ABT       1964-03-31
Industrials                 48           ARNC       1964-03-31
                            230           HON       1964-03-31
Materials                   404           SHW       1964-06-30
Energy                      399           SLB       1965-03-31
Consumer Staples            207           GIS       1969-03-31
                            433           CLX       1969-03-31
Consumer Discretionary      296           MCD       1970-06-30
Information Technology      233           HPQ       1974-12-31
Financials                  255           JPM       1975-06-30
Utilities                   152           DUK       1976-06-30
                            328           NEE       1976-06-30
Telecommunications Services 51              T       1983-11-30
                            472            VZ       1983-11-30
Real Estate                 56            AVB       2007-01-10

In [224]:
def getState(row):
    state=row[5].split(',')[1]
    if state.find('[')!=-1:
         return state[0:state.index('[')]
    else:
        return state
securities_df['State'] = securities_df.apply(getState, axis=1)
#securities_df
securities_df_earlist_state=securities_df.groupby(securities_df['State']).apply(lambda x: x[x['Date first added']==x['Date first added'].max()])
#securities_df_earlist_state
securities_df_earlist_state.sort_values(by=['Date first added'], ascending=False, inplace=True)
print('{0}每一个州中加入时间最晚的股票名称{0}\n'.format('*'*30))
securities_df_earlist_state[['Ticker symbol','Date first added']]

******************************每一个州中加入时间最晚的股票名称******************************

                                Ticker symbol Date first added
State
 Maine                      236          IDXX       2017-01-05
 Tennessee                  307           MAA       2016-12-02
                            165          EVHC       2016-12-02
 NY                         125          COTY       2016-10-03
 California                 434           COO       2016-09-23
 Connecticut                96           CHTR       2016-09-08
 Ohio                       302           MTD       2016-09-06
 Louisiana                  16            ALB       2016-07-01
 Washington                 197           FTV       2016-07-01
 Wisconsin                  21            LNT       2016-07-01
 Illinois                   198          FBHS       2016-06-22
 Georgia                    5             AYI       2016-05-03
 New York                   195            FL       2016-04-04
 Missouri                   90            CNC       2016-03-30
 Massachusetts              228          HOLX       2016-03-30
 Maryland                   456           UAA       2016-03-25
 Colorado                   453           UDR       2016-03-07
 New Jersey                 33            AWK       2016-03-04
 Texas                      119           CXO       2016-02-22
 Rhode Island               108           CFG       2016-01-29
 UT                         178           EXR       2016-01-19
 United Kingdom             492          WLTW       2016-01-05
 Virginia                   127          CSRA       2015-12-01
 Pennsylvania               116         CMCSA       2015-09-18
 Bermuda                    405           SIG       2015-07-29
 Arkansas                   250          JBHT       2015-07-01
 North Carolina             377          QRVO       2015-06-11
 Ireland                    163          ENDP       2015-01-27
 Florida                    394           RCL       2014-12-05
 Delaware                   320          NAVI       2014-05-01
 Switzerland                447           RIG       2013-10-29
 Michigan                   208            GM       2013-06-06
 Kent                       136          DLPH       2012-12-24
 UK                         350           PNR       2012-10-01
 Netherlands                282           LYB       2012-09-05
 Minnesota                  436           MOS       2011-09-26
 Oklahoma                   343           OKE       2010-03-15
 Nebraska                   66          BRK.B       2010-02-16
 Arizona                    187          FSLR       2009-10-16
 Oregon                     190          FLIR       2009-01-02
 South Carolina             398           SCG       2009-01-02
 Nevada                     494          WYNN       2008-11-14
 Kentucky                   501           YUM       1997-10-06
 Idaho                      305            MU       1994-09-27
 Indiana                    275           LLY       1970-12-31
 Kingdom of the Netherlands 399           SLB       1965-03-31

# 3. merge!

现在你需要同时处理来自两个表中的信息了

1. 请思考，合并两个表的信息的时候，我们应该用什么样的准则对其它们（10分）

   答：merge是按照两个dataframe共有的column进行连接，两个dataframe必须具有同名的column
       how=inner,结果中的键是df1和df2的交集
       how=outter,结果中的键是df1和df2的并集
       how=left，就是让df1保留所有的行列数据，df2根据df1的行列进行补全。
       how=right，就是让df2保留所有的行列数据，df1根据df2的行列进行补全。
       on参数可以指定merge的列名
       
   
2. 请列举每个sector在2013-2016年累计Research&Development的总投入（10分）
3. 请列举出每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值（20分）

In [235]:
fundamentals_securities_df=pd.merge(pd.read_csv('./nyse/fundamentals.csv')[['Ticker Symbol','Period Ending','Research and Development']], 
                                    securities_df[['Ticker symbol','Security','GICS Sector']].rename(columns={'Ticker symbol':'Ticker Symbol'}), 
                                    how='left',
                                    on='Ticker Symbol')
fundamentals_securities_df['Period Ending'] = pd.to_datetime(fundamentals_securities_df['Period Ending'])
fundamentals_securities_df = fundamentals_securities_df.set_index('Period Ending')
fundamentals_securities_df = fundamentals_securities_df['2013':'2016'].dropna()

print('{0}每个sector在2013-2016年累计Research&Development的总投入{0}\n'.format('*'*30))
pd.DataFrame(fundamentals_securities_df['Research and Development'].groupby(fundamentals_securities_df['GICS Sector']).sum())

******************************每个sector在2013-2016年累计Research&Development的总投入******************************

                             Research and Development
GICS Sector
Consumer Discretionary                   1.860178e+09
Consumer Staples                         8.557000e+08
Energy                                   0.000000e+00
Financials                               0.000000e+00
Health Care                              7.164592e+10
Industrials                              4.855500e+09
Information Technology                   2.303789e+11
Materials                                1.073121e+10
Real Estate                              0.000000e+00
Telecommunications Services              0.000000e+00
Utilities                                0.000000e+00

In [236]:
securities_sector_df=pd.merge(fundamentals_securities_df['Research and Development'].groupby(fundamentals_securities_df['Security']).sum(),
                              securities_df[['Security','GICS Sector']].drop_duplicates(),
                              how='left',
                              on='Security')
#securities_sector_df
def top(df, n=3, column='Research and Development'):
    return df.sort_values(by=column)[-n:]
print('{0}每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值{0}\n'.format('*'*25))
securities_sector_df.groupby(securities_sector_df['GICS Sector']).apply(top)

*************************每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值*************************

                                                         Security  \
GICS Sector
Consumer Discretionary      269                   Yum! Brands Inc
                            114                       Hasbro Inc.
                            102                       Garmin Ltd.
Consumer Staples            260                   Wal-Mart Stores
                            158                      Mead Johnson
                            236                The Clorox Company
Energy                      55                     Cimarex Energy
                            151                Marathon Petroleum
                            265                     Williams Cos.
Financials                  20                American Express Co
                            131                      Invesco Ltd.
                            266              Willis Towers Watson
Health Care                 2                              AbbVie
                            145                 Lilly (Eli) & Co.
                            24                          Amgen Inc
Industrials                 28                        Arconic Inc
                            187                       PACCAR Inc.
                            63                       Cummins Inc.
Information Technology      26                         Apple Inc.
                            163                   Microsoft Corp.
                            126                       Intel Corp.
Materials                   128         Intl Flavors & Fragrances
                            175  Newmont Mining Corp. (Hldg. Co.)
                            168                      Monsanto Co.
Real Estate                 32        AvalonBay Communities, Inc.
                            103    General Growth Properties Inc.
                            263                    Welltower Inc.
Telecommunications Services 1                            AT&T Inc
                            144            Level 3 Communications
                            257            Verizon Communications
Utilities                   178                    NextEra Energy
                            212                        SCANA Corp
                            261              Wec Energy Group Inc

                                 Research and Development  \
GICS Sector
Consumer Discretionary      269              0.000000e+00
                            114              6.730910e+08
                            102              1.187087e+09
Consumer Staples            260              0.000000e+00
                            158              3.237000e+08
                            236              5.320000e+08
Energy                      55               0.000000e+00
                            151              0.000000e+00
                            265              0.000000e+00
Financials                  20               0.000000e+00
                            131              0.000000e+00
                            266              0.000000e+00
Health Care                 2                1.043700e+10
                            145              1.506130e+10
                            24               1.629000e+10
Industrials                 28               6.480000e+08
                            187              7.068000e+08
                            63               2.838000e+09
Information Technology      26               2.862800e+10
                            163              4.582600e+10
                            126              4.701600e+10
Materials                   128              7.595790e+08
                            175              1.083000e+09
                            168              6.350000e+09
Real Estate                 32               0.000000e+00
                            103              0.000000e+00
                            263              0.000000e+00
Telecommunications Services 1                0.000000e+00
                            144              0.000000e+00
                            257              0.000000e+00
Utilities                   178              0.000000e+00
                            212              0.000000e+00
                            261              0.000000e+00

                                                 GICS Sector
GICS Sector
Consumer Discretionary      269       Consumer Discretionary
                            114       Consumer Discretionary
                            102       Consumer Discretionary
Consumer Staples            260             Consumer Staples
                            158             Consumer Staples
                            236             Consumer Staples
Energy                      55                        Energy
                            151                       Energy
                            265                       Energy
Financials                  20                    Financials
                            131                   Financials
                            266                   Financials
Health Care                 2                    Health Care
                            145                  Health Care
                            24                   Health Care
Industrials                 28                   Industrials
                            187                  Industrials
                            63                   Industrials
Information Technology      26        Information Technology
                            163       Information Technology
                            126       Information Technology
Materials                   128                    Materials
                            175                    Materials
                            168                    Materials
Real Estate                 32                   Real Estate
                            103                  Real Estate
                            263                  Real Estate
Telecommunications Services 1    Telecommunications Services
                            144  Telecommunications Services
                            257  Telecommunications Services
Utilities                   178                    Utilities
                            212                    Utilities
                            261                    Utilities

# 4. 现在让我们来看看更加复杂的数据

请导入price.csv，然后结合你的聪明才智回答以下问题（附加题，40分）

假设你是某基金公司的老板，现在对于每只股票，你都专门安排了一位负责它的交易员。公司规定每一位交易员手中的资金要么全部买入要么全部卖出（空仓，转化为现金）。假设2016年每一位交易员手中都有10000美元，假设他们都能够看到2016年全年的数据，假设他们都能抓住每一次机会，那么请问2016年底时，赚钱最多的股票是哪一只，赚了多少钱？

In [25]:
prices_df=pd.read_csv('./nyse/prices.csv')
prices_df['date'] = pd.to_datetime(prices_df['date'])
prices_df = prices_df.set_index('date')
prices_df = prices_df['2016'].dropna()
base=10000
def getFinalTurnover(symbol):
    symbol_df=prices_df.loc[prices_df['symbol'] == symbol]
    symbol_df['turnover']=0
    for i in range(0, len(symbol_df)):
        symbol_df['turnover']=(symbol_df['turnover'].shift(1).fillna(base)/symbol_df['low'])*symbol_df['high']
    return symbol,symbol_df.iloc[len(symbol_df)-1].at['turnover']-base

symbol_list=prices_df['symbol'].drop_duplicates().tolist()
symbol_final_turnover=list(map(getFinalTurnover,symbol_list))
#print(symbol_final_turnover)
symbol_final_turnover_sort= sorted(symbol_final_turnover, key=lambda d:d[1], reverse = True)
#print(symbol_final_turnover_sort)
print('2016年底时，赚钱最多的股票是{0}，赚了{1}'.format(symbol_final_turnover_sort[0][0],symbol_final_turnover_sort[0][1]))
symbol_final_turnover_df=pd.DataFrame(symbol_final_turnover_sort,columns=['symbol','final_turnover'])
symbol_final_turnover_df

#getFinalTurnover('WLTW')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

2016年底时，赚钱最多的股票是CHK，赚了10326056424211.496

    symbol  final_turnover
0      CHK    1.032606e+13
1      SWN    3.108443e+11
2      FCX    5.239726e+10
3     ENDP    2.007086e+10
4      RIG    1.606712e+10
..     ...             ...
496    PEP    1.698970e+05
497    MMM    1.674762e+05
498    JNJ    1.649168e+05
499     KO    1.602135e+05
500    FTV    1.355019e+05

[501 rows x 2 columns]